body {
	padding-top: 100px;
/*	font-family: 'Unica One', sans-serif;*/
}

#stock-chart {
	margin-bottom: 10px;
}

#add-stock {
	margin-bottom: 10px;
}

.panel {
	/*TODO: Get color from chart?*/
	height: 120px;
	position: relative;
	padding-right: 0px;
	padding-left: 0px;
}

.panel * {
	text-align: center
}

#remove {
	top: 5px;
	right: 5px;
	position: absolute;
	color: red;
/*	display: none;*/
}

#remove:hover {
	cursor: pointer;
}

/*#stock-panel:hover span{
	display: inline;
}*/